.container {
}

.social-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    border: solid 1px lightgray;
    border-top: none;
}

.social-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-left > span{
    text-align: end;
    font-weight: 600;
    color: grey;
    font-size: 18px;
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

.social-icons > span{
    font-weight: 100;
    color: grey;
}

.social-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-right > span:first-child {
    font-weight: 600;
    color: grey;
    font-size: 18px;
}

.social-right > span:nth-child(2){
    color: grey;
}

.address-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    color: grey;
    border: solid 1px lightgray;
    border-top: none;
}

.address-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 1.5rem;
}

.address-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.address-name{
    display: flex;
    flex-direction: column;
}

.address-contact{
    display: flex;
    flex-direction: column;
}